<app-header></app-header>
<div>
  <div class="menu">
    <!--  <select [(ngModel)]="config">-->
    <select  [(ngModel)]="configSelect" (ngModelChange)="onConfigChange()">
      <option *ngFor="let configs of config" [ngValue]="configs">
        {{configs.nom}}
      </option>
    </select>
  </div>
  <div class="config">
    <div>
      <h3>Carte graphique : {{cg}}</h3>
    </div>
    <div>
      <h3>Processeur : {{proc}}</h3>
    </div>
    <div>
      <h3>Mémoire : {{mem}}</h3>
    </div>
  </div>
  <div class="boutonbp">
    <button id="ajout" (click)="onClick('add')">Ajouter</button>
    <button id="modif" (click)="onClick('modify')">Modifier</button>
    <button id="supp" (click)="onClick('delete')">Supprimer</button>
  </div>

  <!--Section masquée-->
  <div class="form" [ngStyle]="{'visibility': getState()}">
      <h3>Nom :</h3>
    <input [(ngModel)]="nomConf" value="" type="input"/>
    <h3>Carte graphique :</h3>
    <select [(ngModel)]="cgListeSelect">
      <option *ngFor="let cg of cgListe" [ngValue]="cg">
        {{cg.nom}}
      </option>
    </select>
    <h3>Processeur :</h3>
    <select [(ngModel)]="procListeSelect">
      <option *ngFor="let proc of procListe" [ngValue]="proc">
        {{proc.nom}}
      </option>
    </select>
    <h3>Mémoire :</h3>
    <select [(ngModel)]="memListeSelect">
      <option *ngFor="let mem of memListe" [ngValue]="mem">
        {{mem.nom}}
      </option>
    </select>
    <button id="ajout" (click)="onSubmitForm()">Valider</button>
  </div>
  <div class="focus" [ngStyle]="{'visibility': getState()}"></div>
</div>
<app-footer></app-footer>