.config{
    margin: 30px 30px;
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    align-items: center;
}

.config div{
    margin-left: 100px;
    margin-right: 100px;

}

.menu{
    display: block;
    margin: 0 auto;
}


.boutonbp{
    margin: 30px 30px;
    display: flex;
    justify-content: center;
}

.boutonbp #ajout{
    margin: 30px 30px;
    background-color: green;
}

.boutonbp #modif{
    margin: 30px 30px;
    background-color: orange;
}

.boutonbp #supp{
    margin: 30px 30px;
    background-color: red;
}

