header {
    border-bottom: 2px solid grey;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.navbar {
	font-size : 25px;
	border-radius: 4px;
	border-top: 2px solid grey;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
	color: black;
    text-decoration: none;
}

.close {
	position: absolute;
	padding-right: 15px;
	padding-top: 15px;
    top: 0px;
    right: 0px;	
}
